@use "../helpers" as *;

.blur-columns {
  padding-block: fluid(40, 80);
  background: linear-gradient(272deg, #020b2c 0.87%, #930007 98.32%);

  &__container {
    max-width: rem(1520);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: fluid(34, 40);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: rem(40);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(320), 1fr));
    gap: rem(16);
  }

  &__item {
  }
}

.blur-column {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
  padding: rem(32) rem(24);
  display: flex;
  flex-direction: column;
  row-gap: rem(18);

  &__icon {
    width: rem(32);
    height: rem(32);
    object-fit: contain;
  }

  &__title {
    color: #fff;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__text {
    color: #fff;
    font-size: rem(20);
    line-height: 1.5;
    margin-bottom: 0;
  }
}
