@use "../helpers" as *;

.columns-video {
  padding-block: fluid(40, 80);
  background: linear-gradient(272deg, #020b2c 0.87%, #930007 98.32%);

  &__container {
    max-width: rem(1520);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: fluid(34, 40);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: rem(40);
  }

  &__body {
    display: flex;
    gap: rem(44);

    @include large {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 rem(852);

    @include large {
      flex: 0 1 auto;
    }
  }

  &__video {
    position: relative;
    flex: 0 1 rem(580);
    border-radius: 8px;
    overflow: hidden;

    &.is-active {
      .columns-video__video-icon {
        display: none;
      }
    }

    @include large {
      flex: 0 1 auto;
      max-height: rem(500);
    }

    @include small {
      max-height: rem(400);
    }

    @include hover {
      .columns-video__video-button {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
    &-placeholder {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-icon {
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fluid(80, 111);
      height: fluid(80, 111);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.columns-video-content {
  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem;

    @include small {
      flex-direction: column;
      row-gap: rem(12);
      text-align: center;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    &-icon {
      width: fluid(45, 55);
      height: fluid(45, 55);
      object-fit: contain;
      margin-right: fluid(20, 32);
    }
    &-title {
      color: #fff;
      font-size: fluid(20, 24);
      font-weight: 700;
      line-height: 1.5;
      margin-right: fluid(32, 40);
      min-width: rem(253);

      @include small {
        min-width: auto;
      }
    }
    &-description {
      color: #fff;
      font-size: fluid(16, 18);
      line-height: 1.5;
    }
  }
}
