@use "../helpers" as *;

.gallery-portfolio {
  padding-block: fluid(40, 80);

  &__container {
    max-width: rem(1520);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__title {
    color: #020b2c;
    text-align: center;
    font-size: fluid(34, 40);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: rem(40);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
    grid-auto-rows: rem(361);
    gap: rem(10);

    @include small {
      grid-template-columns: repeat(auto-fill, minmax(rem(320), 1fr));
      grid-auto-rows: rem(380);
    }
  }

  &__item {
    overflow: hidden;

    @include hover {
      .gallery-portfolio__item-image {
        transform: scale(1.05);
      }
    }
  }

  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease !important;
  }
  &__footer {
    display: flex;
    margin-top: rem(40);
    justify-content: center;
  }

  &__button {
    color: #fff;
    text-align: center;
    font-size: rem(16);
    line-height: 1.4;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #ec1721;
    padding: rem(12) rem(24);
    max-width: max-content;
    margin-inline: auto;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    @include hover {
      background-color: transparent;
      border-color: #ec1721;
      color: #ec1721;
    }
  }
}
